*.workspace.layout
*.depend
*.layout
*.cscope_file_list

#GH_AssaultCube
/singleplayer/GH_AssaultCube/bin/
/singleplayer/GH_AssaultCube/obj/

#GH_AssaultCube_DLL
/singleplayer/GH_AssaultCube_DLL/bin/
/singleplayer/GH_AssaultCube_DLL/obj/

#GH_AssaultCube_DLL_Inject
/singleplayer/GH_AssaultCube_DLL_Inject/bin/
/singleplayer/GH_AssaultCube_DLL_Inject/obj/

#GH_MemoryChange
/singleplayer/GH_MemoryChange/bin/
/singleplayer/GH_MemoryChange/obj/

#GH_MemoryChange_Hack
/singleplayer/GH_MemoryChange_Hack/bin/
/singleplayer/GH_MemoryChange_Hack/obj/
